.todo-container {
    margin-top: 2rem;
    
    h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .description {
        display: flex;
        justify-content: space-between;

        #complete-icon {
            font-size: 2rem; 
            margin-left: 1rem;
            
            &:hover {
                color: green;
            }
        }

        div {
            display: flex;
        }
    }

}

.completed {
    text-decoration: line-through;
}

.icon-completed {
    color: green;
}

#trash-can {
    font-size: 2rem;
    margin-left: 1rem;

    &:hover {
        color: red;
    }
}
